{ns zo

 def {:zen/tags #{zen/tag}}
 fmt {:zen/tags #{zen/tag}}

 res {:zen/tags #{zen/tag zen/schema}
      :type zen/map
      :require #{:zo/type}
      :schema-key {:key :zo/type}
      :keys {:zo/type {:type zen/symbol :tags #{def}}}}
 }
