{ns zen.ops.resource-test

 import #{zo}

 App
 {:zen/tags #{zen/schema zo/def}
  :type zen/map
  :require #{:image :ns}
  :keys {:image {:type zen/string}
         :ns {:type zen/string}
         :port  {:type zen/integer}}}

 app
 {:zen/tags #{zo/res}
  :zo/type App
  :image "myimage"
  :ns "default"
  :port 8080}

 Sys
 {:zen/tags #{zen/schema zo/def}
  :type zen/map
  :require #{:version}
  :keys {:version {:type zen/string}
         :ns {:type zen/string}}}

 sys
 {:zen/tags #{zo/res}
  :zo/type Sys
  :ns "default"
  :version "2108"}

 Comp
 {:zen/tags #{zen/schema zo/def}
  :type zen/map
  :require #{:name}
  :keys {:name {:type zen/string}}}


 comp
 {:zen/tags #{zo/res}
  :zo/type Comp
  :name "samurai"}

 ;; myapp
 ;; {:zen/tags #{zo.k8s/app}
 ;;  :zo/params {:type zen/map
 ;;              :keys {:storage {}
 ;;                     :version {}
 ;;                     :data-dir {}}}
 ;;  :zo/defaults {:version "1.0"
 ;;                :storage {:val 100 :unit :Gi}
 ;;                :data-dir "/data"}
 ;;  :image (zo/path "myimage" (zo/var :version))
 ;;  :cpu [2 2]
 ;;  :memory [0.4 1]
 ;;  :env {:DATA (zo/var :data-dir)}
 ;;  :secrets {:PASSWORD (zo/secret)}
 ;;  :volumes {:data {:zo/type hs.k8s/volume
 ;;                   :storage (zo/var :storage)
 ;;                   :mount   (zo/var :data-dir)}}}




 }
