{ns zen.ops.resource-test

 import #{zo}

 App
 {:zen/tags #{zen/schema zo/def}
  :type zen/map
  :require #{:image :ns}
  :keys {:image {:type zen/string}
         :ns {:type zen/string}
         :port  {:type zen/integer}
         :env {:type zen/any}}}

 app
 {:zen/tags #{zo/res}
  :zo/type App
  :image "myimage"
  :ns "default"
  :port 8080}

 Sys
 {:zen/tags #{zen/schema zo/def}
  :type zen/map
  :require #{:version}
  :keys {:version {:type zen/string}
         :ns {:type zen/string}}}

 sys
 {:zen/tags #{zo/res}
  :zo/type Sys
  :ns "default"
  :version "2108"}

 Comp
 {:zen/tags #{zen/schema zo/def}
  :type zen/map
  :require #{:name}
  :keys {:name {:type zen/string}}}


 comp
 {:zen/tags #{zo/res}
  :zo/type Comp
  :name "samurai"}

 env {:zen/tags #{zo/fmt}}

 app-fmt
 {:zen/tags #{zo/res}
  :zo/type App
  :image "myimage"
  :ns "default"
  :port 8080
  :env {:zo/fmt env
        :HOME "/home"
        :DATA "/data"}}



 }
